@import "fonts.css";

body {
	font-family: "Kalam-Light", cursive;
	margin: 0px;
}

.menu-area {
	font-size: 24px;

	background: #262626;
	padding: 18px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-area a {
	padding: 0 10px;
	color: white;
	text-decoration: none;
}

.menu-area a:hover,
.menu-area a:focus {
	margin: 0px;
	padding: 4px 8px;

	border-style: solid;
	border-radius: 12px;
	border-width: 1px;
  transition: all 0.1s ease-out;
}

.logo {
	font-family: "Cinzel-Bold", cursive;
	font-size: 24px;
}

.background-header-area {
	position: relative;
	min-height: 600px;
	background: url( img/header.png );
	background-size: cover;
	background-repeat: no-repeat;
}


.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(10px);
}

.header-content {
	font-size: 42px;
	font-family: "PlayfairDisplaySC-Bold", cursive;
	color: white;
	text-align: center;
	top: 200px;

	position: relative;
	z-index: 2;
}

.header-content h1 {
	margin: 0px
}

.content-area {
	margin: 0 auto;
	width: 700px;

	font-size: 20px;
}

.display {
  font-size: 30px;

  margin: 4px;
  padding: 10px;

  width: 278px;
  height: 378px;

  resize: none;
}

.content-function button {
	font-family: "Kalam-Light", cursive;
	font-size: 16px;
	width: 60px;
	height: 60px;
	border: 1px solid rgba(118, 118, 118);
	border-radius: 8px;

	margin: 4px;
}

.content-function button:hover,
.content-function button:focus {
	border: 1px solid rgba(38, 38, 38);
	background: rgba(221, 221, 221);
}


#degree {
	position: absolute;
	margin: 4px 4px 4px 12px;
}

#plus, #equals {
	position: absolute;
	height: 128px;
	margin: 4px 4px 4px 12px;
}
